.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}
.display {
    margin-top: 25px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 2%;
    padding-right: 2%;
    margin-left: 2%;
    font-size: 5.0rem;
    margin-left: calc(50% - 225px);
  }

  .logo{
      padding: 25px 10px 0px 25px;
  }

  .special_button{
    height: 75px;
    border-radius: 75px;
    color: white;
    background-color: rgb(12, 110, 221);
    box-shadow: 0px 3px 0px 0px #322c2d;;
    font-size: 3.0rem;
  }

  
  .number_button{
    height: 75px;
    border-radius: 75px;
    color: white;
    background-color: rgb(23, 96, 180);
    box-shadow: 0px 3px 0px 0px #322c2d;;
    font-size: 3.0rem;
  }

  .zero{
   height: 75px;
    border-radius: 75px;
    color: white;
    background-color: rgb(23, 96, 180);
    box-shadow: 0px 3px 0px 0px #322c2d;;
    font-size: 3.0rem;
    grid-area: 5 / 1 / 5 / 3;
  }


  .operator_button{
    height: 75px;
    border-radius: 75px;
    color: white;
    background-color: cyan;
    box-shadow: 0px 3px 0px 0px #322c2d;
    font-size: 3.0rem;
  }

  .op{
    width: 20%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    padding: 20px;
  }

  .special_num{
      width: 60%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
      padding: 20px;
  }


  .twocolumn{
      
      display: flex;
      flex-direction: row;
      margin-left: 8%;
      margin-right: 8%
  }

button:hover{
    background-color: #4e9ed4;
}